@{
    ViewData["Title"] = "ثبت نام شما موفقیت آمیز بود .";
}
<div class="panel panel-body col-ms-8 col-xs-12"
     style="margin:0 auto; text-align:center; top:100px; background-color:whitesmoke; border-radius:5px; box-shadow:6px 6px 3px 0 gray;">
    <div class="modal-body" style="height:200px">
        <span style="color:darkgreen; font-size:18px;">&#10004; ثبت نام شما با موفقیت انجام شد .</span>
        <br />
        <br />
        <span style="color:black; font-size:16px;">&#10004; اکنون میتوانید با استفاده از شماره تماس و رمز عبور انتخابی وارد پنل خود شوید .</span>
        <br />
        <br />
        <span style="color:black; font-size:16px;">&#10004; توجه : پس از تایید توسط مدیریت سایت , اکانت شما فعال و قابل استفاده خواهد بود.</span>
    </div>
</div>
