@font-face {
    font-family: 'IRANSansWeb';
    src: url('/fonts/IRANSansWeb.eot');
    src: url('/fonts/IRANSansWeb.eot') format('embedded-opentype'), url('/fonts/IRANSansWeb.woff') format('woff'), url('/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSansWeb' !important;
    font-weight: 400;
}


.mainPic {
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)),url("/images/New-blog-graphic.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*mikhaim ba scroll ziad bala paiin nashe*/
}

.btnBlue {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #bcc7f5;
}

.btnGreen {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #b6ff00;
}

.btnRed {
    border: 4px solid black;
    border-radius: 3px;
    color: black !important;
    background-color: #ff0000;
}

.custominput {
    border: 1px solid gray;
    border-radius: 1px;
    height: 35px;
    margin-bottom: 15px;
}
