<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gold_Quiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customstyle.css" />
    @*font awsome css*@
    <link href="~/css/fontawesome5/css/all.css" rel="stylesheet" />

</head>
<body style="direction:rtl;" class="mainPic">
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid" style="font-size:14px;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" style="text-align:right;">
                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs"><i class="fas fa-user"></i> ارتباط با ما</a>
                            </li>

                            <li class="nav-item" style="text-align:right;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tutorial"><i class="fas fa-graduation-cap"></i> آموزش</a>
                            </li>

                            <li class="nav-item" style="text-align:right;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register"><i class="fas fa-plus"></i> ثبت نام</a>
                            </li>

                            <li class="nav-item" style="text-align:right;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i> ورود </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*font awsome js*@
    <script src="~/css/fontawesome5/js/all.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
