@model TeacherViewModel
@inject Gold_Quiz.DataModel.Services.IUnitOfWork _context
@*// estafadeye mostaghim az  database baraye namayesh list doros moalem*@
@*baraye modaresin jadid niaz be model jadid darim first name , last name , phone number har modares ro mikhaim baghie chhizaro khodemoon set mikonim *@

@{
    ViewData["AdminTitle"] = "ویرایش مدرس";

    List<Courses> ListCourse = ViewBag.CourseList;
    // نمایش لیست دروس معلم
    // bayad mostaghim az darabase list doros moalem ro bekhonim
    var ListOfTeacherCourse = _context.teacherCourseUW.Get(t => t.TeacherID == Model.UserID)
    .Select(c => c.CourseID).ToList(); // userid dar model hamoon teacher id ast
                                       // ba esteafade az in dastoor list course id haye in teacher ro bedast miarim
                                       // hala bayad course id haro be sorateb yek reshte matni dar biarim
                                       // List course id haye yek moalem

    string ListOfCourseString = "";
    if (ListOfTeacherCourse.Count > 0)
    {
        // agar moalem dars dasht
        for (int i = 0; i < ListOfTeacherCourse.Count; i++)
        {
            ListOfCourseString += ListOfTeacherCourse[i] + ","; // tak tak id haro ezafe kon
        }
        ListOfCourseString = ListOfCourseString.Substring(0, ListOfCourseString.Length - 1); // kam kardan , akhari
    }
}

<style>
    .select2-selection {
        border: 1px solid gray !important;
        border-radius: 0px !important;
        height: 35px !important;
        direction: rtl !important;
        color: black;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: black;
    }

    .select2-container--default {
        width: 100% !important;
    }

    .select2-results__options {
        text-align: right;
    }
</style>

<div class="content">
    <div class="panel panel-heading" style="box-shadow:3px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold">
            <i class="icon-newspaper2">
            </i>
            فرم ویرایش اطلاعات مدرس
        </span>
    </div>

    <div class="panel panel-body container-fluid"
         style="border-radius:2px; box-shadow:3px 1px 1px 0 gray; background-color:#dbe1f7;">
        <form asp-controller="TeacherManagement" asp-action="Edit" method="post">
            <div class="col-md-8 col-md-offest-2">

                <input asp-for="UserID" hidden />

                <!--Teacher First name-->
                <div>
                    <label asp-for="FirstName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="FirstName" type="text" class="form-control custominput" placeholder="نام مدرس ..." autocomplete="off" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <!--Teacher Last name-->
                <div>
                    <label asp-for="Family" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="Family" type="text" class="form-control custominput" placeholder="نام خانوادگی مدرس ..." autocomplete="off" />
                        <span asp-validation-for="Family" class="text-danger"></span>
                    </div>
                </div>

                <!--Teacher User name-->
                <div>
                    <label asp-for="UserName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="UserName" type="text" readonly class="form-control custominput" placeholder="شماره تماس مدرس ..." autocomplete="off" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <!--Teacher Course Selection-->
                <div>
                    <label asp-for="UserName" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <select asp-for="CourseID" multiple asp-items="@(new SelectList(ListCourse, "CourseID", "CourseName"))" class="form-control js-multiple custominput"></select>
                        @*asp-items = etelaat az koja begir*@
                        <span asp-validation-for="CourseID" class="text-danger"></span>
                    </div>
                </div>

                <input hidden value="@ListOfCourseString" type="text" id="select2str" />
                @*// list course id haye yek moalem dar in input dar ghesmat script paiin add mishe*@

                <div class="col-xs-12 form-group" style="margin-top:15px;">
                    <a asp-controller="TeacherManagement" asp-action="Index" class="btn btnRed pull-right" style="margin-right:10px; ">
                        <i class="fas fa-backward"></i>
                        برگشت
                    </a>
                    <button type="submit"
                            class="btn pull-right btnGreen">
                        <i class="glyphicon glyphicon-ok"></i>
                        ثبت اطلاعات
                    </button>

                </div>
            </div>
        </form>
    </div>

</div>

@section AdminScripts{
    <script>
        $(document).ready(function () { // vaghti safhe load mishe yek function khahi dasht ke class js-multiple ro peyda mikone va select2 ro behesh mide
            $('.js-multiple').select2({
                placeholder: "انتخاب درس",
                allowclear: true
            });
        });

        var arr = $("#select2str").val().split(",");  // delimiter // yek array besaz va dar select2 namayesh bede
        $('.js-multiple').select2().val(arr).trigger('change'); // boro id haro neshon bede
    </script>
}